In [5]:
import os

os.makedirs(os.path.join('./', 'data'), exist_ok = True)
data_file = os.path.join('./', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n') # 列名
    f.write('NA,Pave,127500\n') # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,127500\n')

In [6]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  127500

# 缺失数据的处理
如插值、删除等

对于连续的数值，可以用平均值等进行插值

In [7]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean()) # fillna将所有数值为NA的域填上某个值
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对于类别值或离散值，可以将"NaN"视为一个类别

In [8]:
# 对于非数值类的NA的处理
inputs = pd.get_dummies(inputs, dummy_na = True) # dummy_na = True - 对NaN类型也进行编码
"""
one-hot的基本思想：将离散型特征的每一种取值都看成一种状态;
若你的这一特征中有N个不相同的取值，那么我们就可以将该特征抽象成N种不同的状态.
one-hot编码保证了每一个取值只会使得一种状态处于“激活态”，也就是说这N种状态中只有一个状态位值为1，其他状态位都是0。
"""
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

将DataFrame类型转为tensor类型

In [ ]:
import torch
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y